* {
    padding: 0%;
    margin: 0px;
}

body {
    background-color: white;
}

.logo-gradiweb {
    display: flex;
    justify-content: center;
    margin: 30px 0px 0px 0px;
    padding: 10px;
    box-sizing: border-box;
}

.img-logo {
    max-width: 100%;
}

.contenedor {
    margin: 20px auto 0px auto;
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 23%);
    justify-content: center;
    grid-gap: 1%;
}

.item-img {
    cursor: pointer;
    /*display: inline-block;
    width: 22%;
    margin: 1%;*/
    position: relative;
    margin-bottom: -20px;
}

.item-img * {
    /*Transformamos la imagen geometricamente*/
    clip-path: polygon(0% 35%, 100% 0%, 100% 65%, 0% 100%);
    width: 100%;
}

.item-img:hover * {
    clip-path: polygon(0% 21%, 100% 0%, 100% 79%, 0% 100%);
    height: 300px;
    width: 100%;
}

.item-img::after {
    background-color: rgba(0, 214, 100, 1);
    background-image: url("../assets/img/logo-white.png");
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
    color: white;
    clip-path: polygon(0% 21%, 100% 0%, 100% 79%, 0% 100%);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-bottom: -40px
}

.item-img:hover::after {
    display: block;
    position: absolute;
    z-index: 0;
}

.img {
    width: 100%;
    height: 180px;
    transition: all 0.5s;
    margin-bottom: -40px
}


/* #Responsive */

@media (min-width: 768px) and (max-width: 1024px) {
    .contenedor {
        grid-template-columns: repeat(auto-fill, 25%);
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .contenedor {
        grid-template-columns: repeat(auto-fill, 40%);
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .contenedor {
        grid-template-columns: repeat(auto-fill, 80%);
    }
    .img {
        margin-bottom: -60px
    }
}

@media (max-width: 320px) {
    .contenedor {
        grid-template-columns: repeat(auto-fill, 90%);
    }
    .img {
        margin-bottom: -60px
    }
}